.home {
  header {
    height: 6vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 2rem; 
    background-color: #FFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

    div {
      h1 {
        color: #FF5A00;
        /* background-color: blue; */
        margin: 0;
      }
  
      p {
        color: #000000b0;
        /* background-color: blue; */
        font-size: 1rem;
      }
    }

    .create-dish-route {
      background-color: #FF5A00;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      color: white;
      border-radius: 100%;
      cursor: pointer;
    }

    .create-dish-route:hover {
      background-color: #ff5900cd;
    }
  }

  .paginator-container {
    /* height: 94vh; */

    .dish-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding: 0 2rem;

      li {
        list-style: none;
      }
    }

    .paginator-component {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;

      margin: 0;
      box-sizing: border-box;
    }
  }
}
